@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "nprogress/nprogress.css";
@import "slick-carousel/slick/slick.css";
@import "./vendor/slick-carousel/slick-theme.scss";
@import "./vendor/react-image-gallery/image-gallery.scss";

html{
  font-size: 10px;
}

*{
  outline: none !important;
}

body{
  font-family: 'Manrope', sans-serif;
  background: #ffffff;
}


a, button{
  transition: all .3s ease;
}

input[type="text"]{
  transition: all .3s ease;
}

.oxxo-scroll{
  &::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #EB1515;
    border-radius: 0;
  }
  &::-webkit-scrollbar-track {
    background: #E1E1E1;
    border-radius: 0;
  }
}

.oxxo-select{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23858585' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}